body{
    font-family: 'Slabo 27px', serif;  
}
h1{
    color: #fff;
}
/*Title Section*/
#title{
    
    background-color: #ff4c68/*#41B3A3*/;
    
   
}
.container-fluid{
    padding: 3% 15% 7%;
    
}
.navbar{
    padding:  0 0 4.5rem;
    
       
}
.navbar-brand{
    
    font-size: 3.4rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
   
}
.nav-link{
    font-size: 1.8rem;
  
}
.nav-link:hover{
    background-color:  #41B3A3;
    border-radius: 10px;
  
}
.navbar a {
    color: #fff;
}
.navbar-toggler{
    background-color: #fff;

}



/*Button css */
.heading-button{
    margin:5% 3% 5% 0;
    font-size: 1.6rem;
}

/*Title Image*/
.title-image{
    
    width:59%;
    transform: rotate(-30deg); 
    position: absolute;
    left: 35%;
}


/*fetures section*/
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    font-size: 20px;
    text-align: center;
    
    padding: 5%;
}
.icon{
    color:#ef8172;
    padding-bottom: 1rem;
}

.icon:hover{
   color: #41B3A3;
}


/*review  section*/
#review{
    background-color: #ff4c68;;
   
    text-align: center;
    color: #fff;
}
.review-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}


/*Footer Section*/
#footer{
    padding: 7% 15%;
    text-align: center;
    font-size: 30px;
}
.social-icon{
    margin: 20px 10px;
    
}

/*Responsive*/
@media (max-width: 1028px) {

    
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
        margin-left: 20px;
        margin-top: 10px;
    }
}